[run]
branch = True
source = gromacs

omit =
    */tests/*
    # omit the versioneer-installed _version.py
    */gromacs/_version.py
    
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def _repr_html_
    def __str__
    raise AssertionError    
    raise NotImplementedError
    if __name__ == .__main__.:
