language: python
sudo: false

python:
  - "2.7"

# whitelist
branches:
    only:
        - master
        - develop

env:
    - GMX_VERSION=4.6.7
    - GMX_VERSION=5.1.2
    - GMX_VERSION=2016

# install python dependencies
install:
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Replace dep1 dep2 ... with your dependencies
  - conda create --yes -q -n gw python=$TRAVIS_PYTHON_VERSION numpy scipy pandas
  - source activate gw

  # install becksteinlab Gromacs build
  - conda install -c becksteinlab gromacs-$GMX_VERSION

  # install other dependencies through pip
  - pip install recsql>=0.7

  # install test tools
  - pip install codecov
  - pip install pytest-cov
  - pip install pytest-pep8
  - pip install -e .

  # source gromacs
  - source $($HOME/get_gmx $GMX_VERSION)

# run tests
script:
  - py.test --cov numkit numkit/tests
  - py.test --cov gromacs gromacs/tests

after_success:
  - codecov
