include   ez_setup.py setup.py COPYING COPYING.LESSER INSTALL.rst README.rst CHANGES
recursive-include doc/html *
recursive-include scripts *.py
graft     gromacs/external/
graft     gromacs/templates/
