include   ez_setup.py setup.py COPYING COPYING.LESSER INSTALL README
recursive-include   doc GromacsWrapper.pdf *.html *.css *.js *.txt *.inv *.png
graft     gromacs/external/
graft     gromacs/templates/
